html {
  font-size: calc(100vw / 1920 * 16); }

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(100vw / 1920 * 16); }

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 4em;
  box-sizing: border-box; }

@media screen and (orientation: portrait) {
  html,
  body {
    font-size: calc((100vw / 320) * 12); }
  .content {
    min-height: 100vh;
    height: auto; } }

.header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  background-color: #333;
  padding: 0 10em;
  box-sizing: border-box;
  position: fixed;
  top: 0; }

.logo {
  padding: 0.6em 0;
  height: 2.8em; }

.logo__image {
  width: auto;
  height: 100%; }

.mainMenu {
  display: flex; }

.mainMenu__button {
  display: none;
  outline: none; }

.mainMenu__list {
  align-self: center;
  display: flex;
  padding: 0;
  margin: 0; }

.mainMenu__item {
  list-style: none;
  padding: 0.6em; }

.mainMenu__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; }

.mainMenu__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.4em;
  border-bottom: 0.2em solid #fff;
  margin-bottom: -0.6em;
  transform-origin: center bottom;
  transform: scaleX(0);
  transition: transform 100ms ease-in-out; }

.mainMenu__link:hover::after {
  transform: scaleX(1); }

@media screen and (orientation: portrait) {
  .header {
    padding: 1em; }
  .logo {
    padding: 0;
    height: 2.1em; }
  .logo__image {
    height: 100%; }
  .mainMenu {
    display: none; }
  .mainMenu__button {
    font-size: 1em;
    position: relative;
    z-index: 100;
    display: block;
    border: none;
    background: none;
    margin: -1em 0;
    padding: 0; }
  .mainMenu__button_open > *:nth-child(1) {
    transform: translateY(0.9em) rotate(45deg); }
  .mainMenu__button_open > *:nth-child(2) {
    transform: scaleX(0.1); }
  .mainMenu__button_open > *:nth-child(3) {
    transform: translateY(-0.9em) rotate(-45deg); }
  .mainMenu__buttonPart {
    display: block;
    width: 2.4em;
    height: 0.3em;
    margin: 0.6em 0;
    background-color: #fff;
    transition: transform 100ms ease-in-out; }
  .mainMenu_open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333; }
  .mainMenu__list {
    display: block;
    text-align: center; }
  .mainMenu__item {
    padding: 1.4em; }
  .mainMenu__link {
    font-size: 1.4em; } }

.productMenu {
  font-size: 1rem;
  padding: 0.3em 10em; }

.productMenu__list {
  display: flex;
  justify-content: center;
  padding: 0; }

.productMenu__item {
  list-style: none;
  padding: 0;
  margin: 0 1em;
  width: 10em; }

.productCase__name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding: 0; }

.productCase__list {
  padding: 0;
  margin: 0; }

.productCase__item {
  list-style: none;
  box-sizing: border-box;
  padding-left: 0.8em;
  padding-bottom: 0.2em; }

.productCase__link {
  font-size: 1em;
  color: #333;
  text-decoration: none; }

.productCase__link:hover {
  text-decoration: underline; }

@media screen and (orientation: portrait) {
  .productMenu {
    padding: 0.2em 1em; }
  .productMenu__list {
    display: block; }
  .productMenu__item {
    width: initial; }
  .productCase__name {
    font-size: 1.4em;
    margin: 0.6em 0; }
  .productCase__name::after {
    content: '';
    z-index: -50;
    position: relative;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-left: 0.6em;
    border-bottom: 0.1em solid #333;
    border-right: 0.1em solid #333;
    transform-origin: 0.3em 0.3em;
    transform: rotate(45deg);
    transition: transform 200ms ease-in-out; }
  .productCase__list {
    display: none; }
  .productCase_open .productCase__name::after {
    transform: rotate(-135deg); }
  .productCase_open .productCase__list {
    display: block; }
  .productCase__link {
    font-size: 1.2em; } }

.promo {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 3em 10em;
  box-sizing: border-box;
  background-image: url("/img/bg.jpg"), url("/writing_service/img/bg.jpg");
  background-size: cover;
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.promo__header {
  max-width: 40%; }

.promo__title {
  font-size: 3.8em;
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 0 0 1em; }

.promo__description {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.6em;
  color: #fff;
  padding: 0;
  margin: 2em 0 4em; }

.promo__button {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  border: 0.1em solid #fff;
  border-radius: 0.4em;
  margin: 1em 0; }

.contacts,
.triggers {
  padding: 0; }

.contacts__item,
.triggers__item {
  list-style: none;
  padding: 0;
  margin: 2em 0; }

.contacts__name,
.triggers__name {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 0.2em 0; }

.contacts__value {
  color: #fff;
  text-decoration: none; }

.contacts__value:hover {
  text-decoration: underline; }

.triggers__name {
  text-transform: uppercase; }

.triggers__value {
  color: #fff;
  margin: 0; }

@media screen and (orientation: portrait) {
  .promo {
    padding: 1em; }
  .contacts,
  .triggers {
    display: none; }
  .promo__header {
    max-width: 100%;
    text-align: center; }
  .promo__title {
    font-size: 3.4em;
    margin: 0.3em 0 0.2em; }
  .promo__description {
    font-size: 1.4em;
    margin: 1em 0 1em; }
  .promo__button {
    display: inline-block;
    margin: 0 auto 1em; } }
