header.header
  a.logo(href="/")
    img.logo__image(src='/writing_service/img/svg/logo-white.svg')
    span.logo__name Logo name
  button.mainMenu__button
    span.mainMenu__buttonPart
    span.mainMenu__buttonPart
    span.mainMenu__buttonPart
  nav.mainMenu
    ul.mainMenu__list
      li.mainMenu__item
        a.mainMenu__link(href='#') About us
      li.mainMenu__item
        a.mainMenu__link(href='#') How it works
      li.mainMenu__item
        a.mainMenu__link(href='#') Testimonials
      li.mainMenu__item
        a.mainMenu__link(href='#') Pricing
      li.mainMenu__item
        a.mainMenu__link(href='#') Contact
