header.header
  .logo
    img.logo__image(src='./img/svg/logo-white.svg')
  nav.mainMenu
    ul.mainMenu__list
      li.mainMenu__item
        a.mainMenu__link(href='#') About us
      li.mainMenu__item
        a.mainMenu__link(href='#') How it works
      li.mainMenu__item
        a.mainMenu__link(href='#') Testimonials
      li.mainMenu__item
        a.mainMenu__link(href='#') Pricing
      li.mainMenu__item
        a.mainMenu__link(href='#') Contact
