section.promo
  .promo__header
    h1.promo__title Promo title
    h2.promo__description Promo description. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    a.promo__button Order now

  ul.promo__contacts.contacts
    li.contacts__item
      p.contacts__name Questions? Call us
      a.contacts__value(href="#") +1(888) 462-2522
    li.contacts__item
      p.contacts__name Email
      a.contacts__value(href="#") support@ewritingservice.com

  ul.promo__triggers.triggers
    li.triggers__item
      p.triggers__name Privacy
      p.triggers__value Guarantee
    li.triggers__item
      p.triggers__name Money back
      p.triggers__value Guarantee
    li.triggers__item
      p.triggers__name Plagiarism-free
      p.triggers__value Guarantee