nav.productMenu
  ul.productMenu__list
    include ./_product_menu/__product1.pug
    include ./_product_menu/__product2.pug
    include ./_product_menu/__product3.pug
    include ./_product_menu/__product4.pug
    include ./_product_menu/__product5.pug