li.productMenu__item.productCase
  h3.productCase__name Team

  ul.productCase__list
    li.productCase__item
      a.productCase__link(href="#") Team 1
    li.productCase__item
      a.productCase__link(href="#") Team 2
    li.productCase__item
      a.productCase__link(href="#") Team 3
    li.productCase__item
      a.productCase__link(href="#") Team 4