li.productMenu__item.productCase
  h3.productCase__name Ready to buy

  ul.productCase__list
    li.productCase__item
      a.productCase__link(href="#") Done essay
    li.productCase__item
      a.productCase__link(href="#") Term papers
    li.productCase__item
      a.productCase__link(href="#") Research results
    li.productCase__item
      a.productCase__link(href="#") Done dissertations