li.productMenu__item.productCase
  h3.productCase__name Services

  ul.productCase__list
    li.productCase__item
      a.productCase__link(href="#") Essay writing
    li.productCase__item
      a.productCase__link(href="#") College term papers
    li.productCase__item
      a.productCase__link(href="#") Research papers
    li.productCase__item
      a.productCase__link(href="#") Dissertation writing