li.productMenu__item.productCase
  h3.productCase__name Help

  ul.productCase__list
    li.productCase__item
      a.productCase__link(href="#") Essay topics
    li.productCase__item
      a.productCase__link(href="./product1.html") Term paper topics
    li.productCase__item
      a.productCase__link(href="#") Research topics
    li.productCase__item
      a.productCase__link(href="#") Dissertation topics