li.productMenu__item.productCase
  .productCase__name Product title

  ul.productCase__list
    li.productCase__item
      a.productCase__link(href="#") Product link
    li.productCase__item
      a.productCase__link(href="#") Product link
    li.productCase__item
      a.productCase__link(href="#") Product link
    li.productCase__item
      a.productCase__link(href="#") Product link
    li.productCase__item
      a.productCase__link(href="#") Product link