doctype html
html(lang='en-EN')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Writing Service
    link(rel='stylesheet' type='text/css' href='css/style.css')
    script(src='./js/actions-min.js')
  body
    .content
      include ./pages_blocks/_header.pug
      include ./pages_blocks/_product_menu.pug 
      include ./pages_blocks/_promo.pug