.header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  background-color: #333;
  padding: 0 10em;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.logo {
  padding: 0.6em 0;
  height: 2.8em;
}
.logo__image {
  width: auto;
  height: 100%;
}

.mainMenu {
  display: flex;
}
.mainMenu__button {
  display: none;
  outline: none;
}
.mainMenu__list {
  align-self: center;
  display: flex;
  padding: 0;
  margin: 0;
}
.mainMenu__item {
  list-style: none;
  padding: 0.6em;
}
.mainMenu__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.mainMenu__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.4em;
  border-bottom: 0.2em solid #fff;
  margin-bottom: -0.6em;

  transform-origin: center bottom;
  transform: scaleX(0);
  transition: transform 100ms ease-in-out;
}
.mainMenu__link:hover::after {
  transform: scaleX(1);
}

//-----------

@media screen and (orientation:portrait) {
  .header {
    padding: 1em;
  }
  .logo {
    padding: 0;
    height: 2.1em;
  }
  .logo__image {
    height: 100%;
  }
  .mainMenu {
    display: none;
  }
  .mainMenu__button {
    font-size: 1em;
    position: relative;
    z-index: 100;
    display: block;
    border: none;
    background: none;
    margin: -1em 0;
    padding: 0;
  }
  .mainMenu__button_open > *:nth-child(1) {
    transform: translateY(0.9em) rotate(45deg);
  }
  .mainMenu__button_open > *:nth-child(2) {
    transform: scaleX(0.1);
  }
  .mainMenu__button_open > *:nth-child(3) {
    transform: translateY(-0.9em) rotate(-45deg);
  }
  .mainMenu__buttonPart {
    display: block;
    width: 2.4em;
    height: 0.3em;
    margin: 0.6em 0;
    background-color: #fff;
    transition: transform 100ms ease-in-out;
  }
  .mainMenu_open{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
  }
  .mainMenu__list {
    display: block;
    text-align: center;
  }
  .mainMenu__item {
    padding: 1.4em;
  }
  .mainMenu__link {
    font-size: 1.4em;
  }
}