.productMenu {
  font-size: 1rem;
  padding: .3em 10em;
}
.productMenu__list {
  display: flex;
  justify-content: center;
  padding: 0;
}
.productMenu__item {
  list-style: none;
  padding: 0;
  width: 10em;
  margin: 0 .6em
}

.productCase__name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding: 0;
  margin: 0 0 .6em;
}
.productCase__list {
  padding: 0;
  margin: 0;
}
.productCase__item {
  list-style: none;
  box-sizing: border-box;
  padding-left: .6em;
  padding-bottom: .3em; 
  padding-top: .3em; 
}
.productCase__link {
  font-size: 1em;
  color: #0000EE;;
  text-decoration: none;
}
.productCase__link:hover {
  text-decoration: underline;
}

//----------

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .productMenu {
    padding: 0;
  }
  .productMenu__list {
    display: block;
    margin: 0;
  }
  .productMenu__item {
    width: initial;
    padding: .3em 0;
    margin: 0;
    border-bottom: .01em solid #ccc;
  }
  .productMenu__item:last-child {
    border-bottom: none;
  }
  .productCase__name {
    font-size: 1.4em;
    margin: .3em 1.8em;
    position: relative;
    z-index: 0;
  }
  .productCase__name::after {
    content: '';
    z-index: -50;
    position: absolute;
    display: inline-block;
    width: .5em;
    height: .5em;
    right: .1em;
    top: .2em;
    border-bottom: .1em solid #333;
    border-right: .1em solid #333;
    transform-origin: .3em .3em;
    transform: translateY(-.2em) rotate(45deg);
    transition: transform 200ms ease-in-out;
  }
  .productCase__list {
    display: none;
    margin: 0 2.4em .6em;
  }
  .productCase_open .productCase__name::after {
    transform: translateY(.1em) rotate(-135deg);
  }
  .productCase_open .productCase__list {
    display: block;
    padding-left: .6em; 
  }
  .productCase__link {
    font-size: 1.2em;
  }
}
