.promo {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 3em 10em;
  box-sizing: border-box;
  background-image: url('../writing_service/img/bg.jpg');
  background-size: cover;
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__header {
  max-width: 36em;
}
.promo__title {
  font-size: 3.8em;
  font-weight: bold;
  color: #fff;
  padding: 0;
  margin: 0 0 0.6em;
}
.promo__description {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4em;
  color: #fff;
  padding: 0;
  margin: 0 0 2.4em;
}
.promo__button {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em;
  border: 0.1em solid #fff;
  border-radius: 0.4em;
}

.contacts,
.triggers {
  padding: 0;
}
.contacts__item,
.triggers__item {
  list-style: none;
  padding: 0;
  padding: 1.2em 0;
}
.contacts__name,
.triggers__name {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding-bottom: 0.6em;
}
.contacts__value {
  color: #fff;
  text-decoration: none;  
}
.contacts__value:hover {
  text-decoration: underline;
}

.triggers__name {
  text-transform: uppercase;
}
.triggers__value {
  color: #fff;
  margin: 0;
}

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .promo {
    padding: 1.2em;
  }
  .contacts,
  .triggers {
    display: none;
  }
  .promo__header {
    max-width: 100%;
    text-align: center;
  }
  .promo__title {
    font-size: 3.4em;
  }
}
