.productMenu {
  font-size: 1rem;
  padding: 0.3em 10em;
}
.productMenu__list {
  display: flex;
  justify-content: center;
  padding: 0;
}
.productMenu__item {
  list-style: none;
  padding: 0;
  width: 10em;
  margin: 0 0.6em
}

.productCase__name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding: 0;
  margin: 0 0 0.6em;
}
.productCase__list {
  padding: 0;
  margin: 0;
}
.productCase__item {
  list-style: none;
  box-sizing: border-box;
  padding-left: 0.6em;
  padding-bottom: 0.3em; 
  padding-top: 0.3em; 
}
.productCase__link {
  font-size: 1em;
  color: #333;
  text-decoration: none;
}
.productCase__link:hover {
  text-decoration: underline;
}

//----------

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .productMenu {
    padding: 0.3em 2.4em;
  }
  .productMenu__list {
    display: block;
  }
  .productMenu__item {
    width: initial;
    margin: 0 0 1.2em;
  }
  .productCase__name {
    font-size: 1.4em;
    margin: 0.6em 0 0.3em;
  }
  .productCase__name::before {
    content: '';
    z-index: -50;
    position: relative;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.6em;
    border-bottom: 0.1em solid #333;
    border-right: 0.1em solid #333;
    transform-origin: 0.3em 0.3em;
    transform: translateY(-0.2em) rotate(45deg);
    transition: transform 200ms ease-in-out;
  }
  .productCase__list {
    display: none;
  }
  .productCase_open .productCase__name::before {
    transform: translateY(0.1em) rotate(-135deg);
  }
  .productCase_open .productCase__list {
    display: block;
    padding-left: 1.2em; 
  }
  .productCase__link {
    font-size: 1.2em;
  }
}
